.portfolio {
    padding: 25px;
    border: 1px solid #ede9e9;
    background-color: #fdfdfd;
    height: 80vh;
}

.portfolioImg {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.portfolioImg img {
    width: 150px;
    height: 28%;
    border: 1px solid #b1b0b0;
}

.portfolio li {
    padding-bottom: 10px;
    color: #525151;
    font-weight: 500;
}


.portfolioTitle {
    color: #424242;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    position: relative;
}

.portfolioTitle:before {
    content: '';
    width: 40px;
    height: 2px;
    background-color: #3f2dfc;
    position: absolute;
    bottom: -4px;
    left: 1px;
}