* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #525151;
  font-weight: 500;
  padding-left: 5px;
}

a:hover {
  color: darkblue;
}

a.active {
  color: darkblue;
}

ul {
  list-style-type: none;
}

.app-wrapper {
  display: grid; 
  grid-template-areas: 
   "nav profile";
  grid-template-columns: 1fr 6fr;
  grid-gap: 20px;
  padding-top: 30px;
}


.container {
  margin: 0 auto;
  width: 1200px;
}

.content  {
  grid-area: profile;
}