* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
}

.app-wrapper {
  display: grid; 
  grid-template-areas: 
   "nav posts profile";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 6fr 3fr;
  grid-gap: 20px;
  padding-top: 30px;
}


.container {
  margin: 0 auto;
  width: 1200px;
}